

$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$DarkGray: hsl(0, 0%, 55%);
$VeryDarkGray: hsl(0, 0%, 33%);

$font-alata: 'Alata', sans-serif;
$font-josefin: 'Josefin Sans', sans-serif;

// background-image

$earth: '../img/mobile/image-deep-earth.jpg';
$arcade:'../img/mobile/image-night-arcade.jpg';
$soccer:'../img/mobile/image-soccer-team.jpg';
$grid:'../img/mobile/image-grid.jpg';
$vr:'../img/mobile/image-from-above.jpg';
$borealis:'../img/mobile/image-pocket-borealis.jpg';
$curiosity:'../img/mobile/image-curiosity.jpg';
$fisheye:'../img/mobile/image-fisheye.jpg';

$earthDesktop: '../img/desktop/image-deep-earth.jpg';
$arcadeDesktop:'../img/desktop/image-night-arcade.jpg';
$soccerDesktop:'../img/desktop/image-soccer-team.jpg';
$gridDesktop:'../img/desktop/image-grid.jpg';
$vrDesktop:'../img/desktop/image-from-above.jpg';
$borealisDesktop:'../img/desktop/image-pocket-borealis.jpg';
$curiosityDesktop:'../img/desktop/image-curiosity.jpg';
$fisheyeDesktop:'../img/desktop/image-fisheye.jpg'